{% extends "layout.html" %}
{% block content %}

<!-- 
Install the "flowbite-typography" NPM package to apply styles and format the article content: 

URL: https://flowbite.com/docs/components/typography/ 
-->
<div class="flex justify-end space-x-1 px-4 mt-2 sticky top-20 z-30">
    

    {% if post.author == current_user %}
    <a href="{{url_for('posts.post_update', post_id=post.id)}}"
        class=" hover:bg-blue-500 dark:hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
        <button type="button">Update </button>
        <!-- Button trigger modal -->
    
    </a>
    <button type="button"
        class=" hover:bg-red-500 dark:hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded"
        data-te-toggle="modal" data-te-target="#deleteModal" data-te-ripple-init data-te-ripple-color="light">
        Delete
    </button>

<div
data-te-modal-init
data-te-backdrop="false"
class="fixed hidden bg-black z-[2040] bg-opacity-40 left-0 top-0 z-50 block h-full w-full overflow-y-auto overflow-x-hidden outline-none"
id="deleteModal"
tabindex="-1"
aria-labelledby="exampleModalComponentsLabel"
aria-hidden="true">
<div
  data-te-modal-dialog-ref
  class="pointer-events-none relative w-auto opacity-100 transition-all duration-300 ease-in-out min-[576px]:mx-auto min-[576px]:my-7 min-[576px]:max-w-[500px] z-50">
  <div
    class="min-[576px]:shadow-[0_0.5rem_1rem_rgba(#000, 0.15)] pointer-events-auto relative flex w-full flex-col rounded-md border-none bg-white bg-clip-padding text-current shadow-lg outline-none dark:bg-neutral-600 z-[1050]">
    <div
      class="flex flex-shrink-0 items-center justify-between rounded-t-md border-b-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
      <h5
        class="text-xl font-medium leading-normal text-neutral-800 dark:text-neutral-200"
        id="deleteModalComponentsLabel">
        Delete Post
      </h5>
      <button
        type="button"
        class="box-content rounded-none border-none hover:no-underline hover:opacity-75 focus:opacity-100 focus:shadow-none focus:outline-none"
        data-te-modal-dismiss
        aria-label="Close">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="h-6 w-6">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="relative flex-auto p-4" data-te-modal-body-ref>
      Are you sure want to Delete?
    </div>
    <div
      class="flex flex-shrink-0 flex-wrap items-center justify-end rounded-b-md border-t-2 border-neutral-100 border-opacity-100 p-4 dark:border-opacity-50">
      <button
        type="button"
        class="inline-block rounded bg-primary-100 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-primary-700 transition duration-150 ease-in-out hover:bg-primary-accent-100 focus:bg-primary-accent-100 focus:outline-none focus:ring-0 active:bg-primary-accent-200"
        data-te-modal-dismiss
        data-te-ripple-init
        data-te-ripple-color="light">
        Close
      </button>
      <form action="{{url_for('posts.post_delete', post_id=post.id)}}" method="post">

          <button
          type="submit"
          class="ml-1 inline-block rounded bg-red-500 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-red-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-red-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-red-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
          data-te-ripple-init
          data-te-ripple-color="light">
          Delete
        </button>
    </form>
    </div>
  </div>
</div>
</div>
    {% endif %}
   
    <!-- Modal -->
</div>

<!-- Container for demo purpose -->
<div class="container  mx-auto md:px-6 grid grid-cols-8 py-8">
 
    <!-- Section: Design Block -->
    <section class="col-span-full">
        <h1 class=" text-3xl lg:text-6xl font-bold capitalize">
            {{post.title}}
          </h1>
          <div class="mb-6 flex items-center">
            <img src="{{url_for('static', filename='profile_pics/' + post.author.image_file)}}" class="mr-2 h-12 w-12 rounded-full" alt="avatar"
              loading="lazy" />
            <div>
              <span> Published  <u>{{post.date_posted.strftime('%Y-%m-%d')}} </u> by </span>
              <a href="{{url_for('users.user_posts', username=post.author.username)}}" class="font-medium">{{post.author.username}}</a>
            </div>
          </div>
      <img src="https://mdbcdn.b-cdn.net/img/new/slides/198.jpg"
        class="mb-6 w-full rounded-lg shadow-lg dark:shadow-black/20" alt="image" />
      <p>
       {{post.content}}
      </p>
    </section>
    <div class="col-span-full"></div>
    <!-- Section: Design Block -->
  </div>
  <!-- Container for demo purpose -->


{% endblock content %}